---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Portal from "../components/Portal.astro";
---

<Layout>
	<div class="bg-yellow-50 text-gray-900 font-mono">
		<div class="min-h-screen flex flex-col items-center justify-center">
			<Header />
			<Portal />
			<Footer />
		</div>
	</div>
</Layout>
