<footer class="mt-8 text-gray-700 text-sm text-center">
	<p>
		Links Portal is a project by Michael Allen Smith. The code for this site is freely available on
		GitHub. Use however you like.
	</p>
</footer>
