<footer class="mt-8 text-gray-700 text-sm text-center">
	<p>
		Links Portal is a project by Michael Allen Smith. The code for this site is freely available on
		<a href="https://github.com/digitalcolony/links-portal" target="_blank" class="underline"
			>GitHub</a
		>. Use however you like.
	</p>
</footer>
